/* Blue 1 - #19456B */
/* Blue 2 - #11698E */
/* green - #16C79A */
/* white 1 - #FFFFFF */
/* white 2 - #F8F1F1 */
/* whitw 2 - #FFF5FD */

/* Generic */

body{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}


.container{
    margin: 0 auto;
    padding: 20px 20px;
}

.button{
    text-transform: uppercase;
}

.intro{
    font-size: 1rem;
    line-heigth: 1.1rem;
    padding-top: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.subtitle{
    font-size: 2.1rem;
    line-heigth: 2.5rem;
    font-weight: bold;
    padding: 16px 0;
}

/* HEADER */

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header-button{
    border:2px solid #19456B;
    padding: 12px 24px;
    border-radius: 90px;
}

.header-button:hover{
    color:#11698E;
    border:2px solid #11698E;
}

/* HERO */

.hero-img {
    max-width: 100%;
    align-self: flex-end;
}

.hero-texts{
    gap: 16px;
    padding: 28px 0;
}

.hero-title{
    font-size: 2.2rem;
    line-heigth: 1.8rem;
    color: #19456B;
    font-weight: bold;
}

.hero-paragraph{
    padding: 16px 0;
    color:#11698E;
    font-size: 1.1rem;
    line-heigth: 1rem;
}

.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;

    margin: 16px 0;
    padding: 20px 40px;

    background-color:#16C79A;
    color:#FFFFFF;
    
    border-radius: 90px;
}

.hero-button:hover{
    background-color:#1AA17E;
}

/* SERVICOS */

#services-container{
    background-color: #19456B;
}

.services{
    padding-bottom: 48px;
}

.services-intro{
    color: #16C79A;
}

.services-subtitle{
    color: #FFF5FD;
    padding: ;
}


.services-card{
    background-color: #11698E;
    color: #FFFFFF;
    border-radius: 6rem 6rem 32px 32px;
    margin-top: 40px;
}

.services-card img{
    width: 100%;
}

.services-title{
    font-size: 24px;
    line-heigth: 32px;
    font-weight: 700;

    padding: 32px 32px 8px;
}

.services-text{
    padding: 0px 32px 32px;
}

/* MAP */

.map-intro{
    color: #11698E;
}

.map-subtitle{
    color: #19456B;
}

.map-address{
    display: flex;
    align-items: center;
    color: #11698E;
    gap: 20px;
    padding:8px 0 6px;
}

/* FOOTER */

#footer-container{
    background-color: #11698E;
}

.logo-copy{
    display:flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 1rem;
    line-header: 1.5rem;
    margin-top: 28px;
}

.logo-copy span{
    padding: 18px 0;
}

.socials{
    padding-bottom: 28px;
}

@media(min-width: 1024px){
    .container{    
        padding: 32px 72px;
    }

    .intro{
        padding-top: 64px;
    }

    .subtitle{
        font-size: 3rem;
        line-heigth: 2.5rem;
        font-weight: bold;
        padding: 16px 0;
    }
    
    .hero{
        display: flex;
        align-items: center;
    }

    .hero img{
        width: 53%;
    }

    .hero-texts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .hero-title{
        font-size: 3rem;
    }

    .hero-paragraph{
        font-size: 1.1rem;
        line-heigth: 0.9rem;
    }

    .services-cards{
        display: flex;
        gap: 32px;
        margin-bottom: 64px;
    }

    .logo-socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-copy span{
        padding: 16px 0;
    }

    .logo-copy{
        margin-top: 16px;
    }
}